extends ../layout

block content
    h1= title
    hr
    p Welcome to #{title}
    hr
    a(href= helper.route('main.create')) Create Page <br>
    if currentUser
        a(href= helper.route('auth.getLogout')) Logout Page <br>
    else
        a(href= helper.route('auth.getLogin')) Login Page
        = " "
        | username: delia84 - password: 123456 <br>
    hr
    p Total records: #{total}
    p User:
        pre !{JSON.stringify(user, null, 2)}
    p Flash: #{info}